.DS_Store
embeddings/
metadata/
output/
output_721/
tiles/
utils/__pycache__/
__pycache__/
.spyproject/
*.sh
labels/
labels_14classes/
models/
train_log/
visualisation/
archive/
*.csv
bach/
titan/
prism/
cohort2_ss_tiles_3000/
helper_scripts/
documentation/
