.DS_Store
embeddings/
metadata/
output/
output_7_2_1/
tiles/
utils/__pycache__/
__pycache__/
.spyproject/
*.sh
labels/
models/
train_log/
visualisation/
helper_scripts/
extract_embedding_normalisation.py
